parameters:
	level: 0
	paths:
		- ./upload/
	excludePaths:
		- ./admin/controller/extension/advertise/
		- ./upload/admin/controller/extension/advertise/
		- ./admin/model/extension/advertise/
		- ./upload/admin/model/extension/advertise/
		- ./system/storage/vendor/
		- ./upload/system/storage/vendor/
	tmpDir: .cache
