<form method="get" action="{{ action }}" name="alipaysubmit" id="alipaysubmit">
  {% for key, value in params %}
    <input type="hidden" name="{{ key }}" value="{{ value }}"/>
  {% endfor %}
</form>
<div class="buttons">
  <div class="pull-right">
    <input type="button" value="{{ button_confirm }}" class="btn btn-primary" id="button-confirm"/>
  </div>
</div>
<script type="text/javascript"><!--
$('#button-confirm').bind('click', function () {
    $('#alipaysubmit').submit();
});
//--></script>
