<br/>
<div class="paypal-message" id="paypal-message">
  <div class="paypal-message-container paypal-spinner" id="paypal-message-container"></div>
</div>
<script type="text/javascript">
if (typeof PayPalAPI !== 'undefined') {
	PayPalAPI.init();
}
</script>