{% if checkout_mode == 'multi_button' %}
  <div id="paypal-form">
    {% if applepay_button_status %}
      <div class="applepay-button buttons clearfix" id="applepay-button">
        <div class="applepay-button-container paypal-spinner" id="applepay-button-container"></div>
      </div>
    {% endif %}
  </div>
  <script type="text/javascript">
  if (typeof PayPalAPI !== 'undefined') {
      PayPalAPI.init();
  }
  </script>
{% else %}
  <div class="buttons">
    <div class="pull-right">
      <button type="button" class="btn btn-primary paypal-applepay-button-confirm" data-loading-text="{{ text_loading }}" id="button-confirm">{{ button_confirm }}</button>
    </div>
  </div>
  <script type="text/javascript">
  $(document).on('click', '.paypal-applepay-button-confirm', function(event) {
	  $('.paypal-applepay-button-confirm').button('loading');
	
	  $('#paypal-modal').remove();
	
	  $('body').append('<div class="modal fade" id="paypal-modal"></div>');
	
	  $('#paypal-modal').load('index.php?route=extension/payment/paypal_applepay/modal #paypal-modal >', function() {
		  $('.paypal-applepay-button-confirm').button('reset');
		
		  $('#paypal-modal').modal('show');
		
		  if (typeof PayPalAPI !== 'undefined') {
			  PayPalAPI.init();
		  }
	  });
  });
  </script>
{% endif %}